* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding:20px 0;
  text-align: center;
  border-bottom: 1px solid black;
}

.header-list {
  margin:0 auto;
  text-align: center;
  padding:15px 0;
  border-bottom: 1px solid black;
}

.header-list-item{
  display: inline-block;
  margin:0 20px;
  list-style: none;
}

.main {
   width: 800px;
   display:flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: #aeffab;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: #cbffdb;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9
}



 .box5 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d
}

.box6 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5
}

.box7 {
  width: 200px;
  height: 200px;
  background-color: #edffbd
}

.box8 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8
}

.box9 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff
}

.box10 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff
}

.box11 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff
}

.box12 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color:#fff;
}